albumentations==1.1.0
extract-patches==0.1.31
fire==0.4.0
kornia==0.5.11
matplotlib==3.4.3
matplotlib-inline==0.1.3
numpy==1.21.2
opencv-contrib-python-headless==4.4.0.42
pytorch-lightning==1.4.9
pytorch-toolbelt==0.4.4
PyYAML==6.0
scipy==1.7.1
tensorboard==2.7.0
torch==1.9.1
torchvision==0.10.1
